|  1. Общие положения
|  1.1. В соответствии с условиями настоящего Соглашения Администрация осуществляет комплекс услуг и мероприятий развлекательного характера (Услуги), направленных на организацию и сопровождение Игрового процесса с участием Пользователей.

|  Все платежи в оплату Услуг осуществляются через Сервис 4game. Форма, условия и порядок осуществления платежей содержатся в Соглашении на использование Сервиса 4game, которое размещено по следующему адресу: ru.4game.com/terms-of-use.

|  1.2. В интересах не достигших совершеннолетия либо ограниченно дееспособных Пользователей Соглашение может быть заключено только их законными представителями (родителями, опекунами и т.д.), попечителем. Такое лицо должно получить согласие своих законных представителей (родителей, усыновителей либо опекунов) на использование Игры и обеспечивать наличие такого согласия на протяжении всего срока использования Игры. Администрация может в любой момент времени затребовать подобное согласие законных представителей. В случае если оно не будет предоставлено, Пользователь утратит возможность использовать Игру. Кроме того использование Игры может быть приостановлено/прекращено Администраций по запросу родителей такого лица либо иных законных представителей.

|  1.3. При прохождении Процедуры регистрации в порядке, предусмотренном п. 2.12. Соглашения, Пользователь подтверждает согласие заключить настоящее Соглашение без каких-либо оговорок и направляет свою заявку на заключение Соглашения с Администрацией. Указанная заявка признается направленной с момента успешного завершения Процедуры регистрации. Администрация после рассмотрения указанной заявки уведомляет Пользователя о заключении (незаключении) настоящего Соглашения в порядке, предусмотренном п. 2.12. Соглашения. С момента подтверждения Администрацией заключения Соглашения настоящее Соглашение считается вступившим в силу.